{% include "partials/htmlhead.njk" %}

<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
  <a class="navbar-brand" href="/">Plify</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
         {% include "partials/navmenu.njk" %}
    </ul>
  </div>  
</nav>


<div class="container-fluid text-left">
  <div class="row">
    <div class="col-md-12">
      {% block content %}
          {{ content | safe }}
      {% endblock %}
    </div>
  </div>
</div>


{% include "partials/htmlfoot.njk" %}