// main layout
body {
    background-color: cadetblue;
}

a.dropdown-item:hover  {
    background-color: var(--dark);
}

a.dropdown-item.active {
    background-color:var(--dark);
}

nav.navbar {
    opacity: 0.95;
}