// main layout
body {
    background-color: cadetblue;
}

a.dropdown-item:hover  {
    background-color: #000;
}

a.dropdown-item.active {
    background-color: #000;
}

nav.navbar {
    opacity: 0.95;
}